<div class="span12 content">
  <article class="shadow-box">
    <header class="modal-header">
      <h2>
        <a href="<%=Settings.site_host%>/feedback/feedback_infos/<%= _id %>">
          <%=title%>
        </a>
        </h2>
    </header>
    <section class="modal-body">
      <%= content%>
      <br />
      <img src="<%=image%>" style="border: 1px solid #ccc;" width="640">
    </section>
    <footer class="text-left modal-footer">
      <i class="icon-time">
        <%= created_at %>
      </i>
      <i class="separate">||</i>
      <i class="icon-user">
      <%= username %></i>
    </fonter>
  </article>
</div>
